@import "./system/system";

body {
	font-weight: 300;
	line-height: 24pt;
	color: #323240;
	font-family: proxima-nova, "Proxima Nova", sans-serif;
}

html {
	font-size: 1.1rem;

	h1 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 900;
	}



	@include response($desktophd) {
		font-size: 1rem
	}


	@include response($tablet) {
		font-size: 0.9rem
	}


	@include response($phablet) {
		font-size: 0.8rem
	}

	@include response($mobile) {
		font-size: 0.7rem
	}

}

h1,
h2,
h3 {
	color: var(--primary-color-dark);
}

code {
	font-size: 0.8rem;
}


svg.wbIcon {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

h1,
h2,
h3 {

	font-weight: bold;
	margin: 0;
}