@import "./system/system.scss";

body {
	font-weight: 300;
	line-height: 24pt;
	color: #323240;
	line-height: 24pt;
	font-family: proxima-nova, "Proxima Nova", sans-serif;
}

html {
	font-size: 1rem;

	@include response($desktophd) {
		font-size: 0.6rem
	}

	@include response($desktophd) {
		font-size: 0.7rem
	}

	@include response($desktophd) {
		font-size: 0.8rem
	}

	@include response($desktophd) {
		font-size: 0.9rem
	}
}

h1,
h2,
h3 {
	color: var(--primary-color-dark);
}

code {
	font-size: 0.8rem;
}