@import url('https://www.fontify.me/wf/b4bf8aa85a7e35fd018945b766e8bc6d');

body {
	font-weight: 300;
	line-height: 1.98rem;
	color: #323240;
	font-family: "Proxima Nova";
	background-color: var(--primary-color-pale);
	flex: 1 1;
	display: flex;
	flex-direction: column;
}


html {
	display: flex;
	width: 100%;
	min-height: 100vh;
	font-size: 1.0rem;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@extend %titleStyle;
	}

	h4,
	h5,
	h6 {
		margin: 0;
	}




	@include response($desktophd) {
		font-size: 0.95rem
	}


	@include response($tablet) {
		font-size: 0.9rem
	}


	@include response($phablet) {
		font-size: 0.8rem
	}

	@include response($mobile) {
		font-size: 0.7rem
	}

}

h1,
h2,
h3 {
	color: var(--primary-color-dark);
}

code {
	font-size: 0.8rem;
}

h1,
h2,
h3 {

	font-weight: bold;
	margin: 0;
}


h1 {
	font-size: 2rem
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}