{% extends 'base_layout.html'%}

{% load static %}

{%block content %}

<style>
    .wrap {
        margin-top: 8rem;
    }
</style>

<head>
</head>
<div class="about">
    <div class="about__photoWrap">
        <div class="about__photo">
            <div class="about__imgWrap">
                <div class="about__img" />
            </div>
        </div>
    </div>
    <div>
        <div class="wbIconButton">
        </div>

        <div class="wbIconButton">
        </div>
    </div>
</div>
{% endblock %}