.articles {
	margin: 0 auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__p {
		word-break: break-word;
	}

	&__btn {
		justify-self: flex-end;
	}

	&__title {
		color: var(--primary-color-dark);
	}

	&__up {
		flex: 1 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		border-radius: $br1;
		margin-bottom: space(2);
		overflow: hidden;
	}

	&__date {
		color: var(--grey-level2);
	}

	&__img {
		border-radius: $br1;
		padding-bottom: 65%;
		height: 0px;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
	}

	&__article {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		overflow: hidden;
		border-radius: $br2;
		box-sizing: border-box;
		padding: space(4) space(3);
		width: 18%;
		height: space(73);
		background-color: var(--grey-level0);
		margin-bottom: space(4);

		@include response($desktophd) {
			width: 24%;
		}

		@include response($desktop) {
			width: 32%;
		}

		@include response($tablet) {
			width: 48%;
		}

		@include response($mobile) {
			width: 100%;
		}
	}
}

.articleList {
	background-color: white;
	padding-bottom: space(4);

	.pagination {
		margin: 0 auto;
		border-radius: $br1;
		width: max-content;
	}
}
