@import "../system/system";


.about {
    &__photoWrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__photo {
        box-shadow: 0px 0px space(2) var(--primary-color-pale);
        width: 200px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
    }

    &__img {
        width: 100%;
    }
}