.articles {
    height: 40rem;
    display: flex;
}

.articles__p {
    word-break: break-word;
}

.articles__btn {
    justify-self: flex-end;
}

.articles__title {
    color: var(--primary-color-dark);
}


.articles__up {
    overflow: hidden;
}

.articles__date {
    color: var(--grey-level2);
}

.articles__img {
    width: 100%;
    margin-left: -70px;
    padding: 20px;
    box-sizing: border-box;
}

.articles__article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 4rem;
    overflow: hidden;
    border-radius: var(--br-2);
    padding: 2rem 1.5rem;
    width: 18%;
    background-color: var(--grey-level0);
}