{% extends 'base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/articles_detail.css'%}" />
    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css'%}" />
    {{ form.media }}
</head>


<div class="article-detail">
    <div class="article-detail__article" class="article">
        <h2>{{ article.title }}</h2>
        <p>{{ article.date }}</p>
        <div>
            {% autoescape off %}
            {{ article.description}}
            {% endautoescape %}
        </div>
    </div>
    {% if article.prevNode %}}
    <a href="{% url 'articles:detail' slug=article.prevNode %}">
        <button class="wbButton">{{prev_title}}</button>
    </a>
    {% endif %}

    {% if article.nextNode %}}
    <a href="{% url 'articles:detail' slug=article.nextNode %}">
        <button class="wbButton">{{next_title}}</button>
    </a>
    {% endif %}

    {% for com in comments %}
    <h6>{{com.name}}</h6>
    <p>{{com.body}}</p>
    {% endfor %}

    <div class="comment">
        {% if new_comment %}
        <div class="wbAlert" role="alert">
            <div class="wbAlert__icon">
                <div class="wbIconButton wbIconButton--round wbIconButton--small wbIconButton--warn">
                    <svg class="wbIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.848 12.459c.202.038.202.333.001.372-1.907.361-6.045 1.111-6.547 1.111-.719 0-1.301-.582-1.301-1.301 0-.512.77-5.447 1.125-7.445.034-.192.312-.181.343.014l.985 6.238 5.394 1.011z" />
                    </svg>
                </div>
            </div>
            <div class="wbAlert__body">
                <div class="wbAlert__title">
                    Your comment is awaiting moderation
                </div>
                <div class="wbAlert__sub">
                    {{ new_comment_date }}
                </div>
                {% else %}
                <h2 class="comment__title primary-color">Leave a comment</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button class="comment__submit wbButton" type="submit">Submit</button>
                </form>
                {% endif %}
            </div>

            <script src="{% static 'tinymce/js/prism.js'%}"> </script>
        </div>
        {% endblock %}