{% extends 'base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/articles_detail.css'%}" />
    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css'%}" />
    {{ form.media }}
</head>


<div class="article-detail">
    <div class="article-detail__wrap" class="article">
        <h2>{{ article.title }}</h2>
        <p>{{ article.date }}</p>
        <div>
            {% autoescape off %}
            {{ article.description}}
            {% endautoescape %}
        </div>
    </div>
    {% if article.prevNode %}}
    <a href="{% url 'articles:detail' slug=article.prevNode %}">
        <button class="wbButton">{{prev_title}}</button>
    </a>
    {% endif %}

    {% if article.nextNode %}}
    <a href="{% url 'articles:detail' slug=article.nextNode %}">
        <button class="wbButton">{{next_title}}</button>
    </a>
    {% endif %}

    {% for com in comments %}
    <h6>{{com.name}}</h6>
    <p>{{com.body}}</p>
    {% endfor %}

    <div>
        {% if new_comment %}
        <div role="alert">
            Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
        {% endif %}
    </div>

    <script src="{% static 'tinymce/js/prism.js'%}"> </script>
</div>
{% endblock %}