{% extends 'base_layout.html'%}
{% load i18n %}
{% load static %}

{%block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/articles.css'%}" />
</head>
<div class="articles">
    {% for article in articles %}
    <div class="column articles__article">
        <div class="articles__up">
            <h2 class="articles__title">{{article.title}}</h2>
            <span class="articles__date">{{article.date}}</span>
            <p class="articles__p">{{article.snippet}}</p>
            <img class="articles__img" src="{{ article.thumb.url }}" />
        </div>
        <a href="{% url 'articles:detail' slug=article.slug %}">
            <button class="articles__btn wbButton">
                {% trans "Read More" %}
            </button></a>
    </div>
    {% endfor %}
</div>
{% endblock %}