{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/articles_detail.css'%}" />
    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css'%}" />
    {{ form.media }}
</head>


<div class="article-detail">
    <div class="article-detail__wrap" class="article">
        <h2>{{ article.title }}</h2>
        <p>{{ article.date }}</p>
        <div>
            {% autoescape off %}
            {{ article.description}}
            {% endautoescape %}
        </div>
    </div>
    {% if article.prevNode %}}
    <a href="{% url 'articles:detail' slug=article.prevNode %}">
        <button class="wbButton">{{article.prevNodeTitle}}</button>
    </a>
    {% endif %}
    {% if article.nextNode %}}
    <a href="{% url 'articles:detail' slug=article.nextNode %}">
        <button class="wbButton">{{article.nextNodeTitle}}</button>
    </a>
    {% endif %}
    <script src="{% static 'tinymce/js/prism.js'%}"> </script>
</div>
{% endblock %}