/* main #6E0FF7; */
/* #E4E1F6; */
/* 1E225E */
/* F2F1F4 */
html {
    color: #1F1F1F;
    --primary-color: #6E0FF7;
    --primary-color-dark: #1E225E;
    --primary-color-pale: #E4E1F6;
    --primary-color-light: #BDA5FC;
    --grey-level2: #ACACAC;
    --grey-level1: #ACACAC;
    --grey-level0: #FBFBFD;
}


$br1: 0.8rem unquote("/") 0.7rem;
$br2: 1rem unquote("/") 0.9rem;
$br3: 2.2rem unquote("/") 1.8rem;

$mobile: "400px" !default; // sm
$phablet: "550px" !default; //  md
$tablet: "750px" !default; //  wmd
$desktop: "1000px" !default; // lg
$desktophd: "1200px" !default; //  wlg
$full: "9999px" !default;
$null: "0px" !default;