.wbAlert {
  padding: space(4);
  background-color: var(--grey-level0);
  border-radius: $br1;
  display: flex;
  vertical-align: center;
  line-height: 1;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__icon {
    margin-right: space(4);
  }

  &__title {
    @extend %titleStyle;
  }

  &__sub {
    color: var(--grey-level1);
  }
}