@import "../system/system";


.wbButton {
    background-color: var(--primary-color);
    border-radius: $br1;
    color: white;
    border: none;
    padding: space(2.5) space(3);
    width: 100%;
    box-sizing: border-box;
    outline: none;
    height: 3.125rem;

    &:hover {
        cursor: pointer;
        border: 1px solid var(--primary-color);
        background-color: white;
        color: var(--primary-color);
    }
}