@import "../system/system";


.wbButton {
    background-color: var(--primary-color);
    border-radius: $br1;
    color: white;
    border: none;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}