#root .head__title a {
	color: var(--primary-color-dark);
}

html .head {
	position: relative;
	z-index: 10;
	padding: space(6);
	padding-top: space(9);
	display: flex;
	vertical-align: center;
	justify-content: space-between;

	&__left {
		display: flex;
		align-items: center;
	}

	&__right {
		display: flex;
		align-items: center;
	}

	&__lang {
		color: var(--primary-color-light);

		margin-right: space(3);
	}

	&__title {
		a {
			text-decoration: none;
		}

		margin-left: space(4);

		@include response($tablet) {
			margin-left: 0;
		}
	}

	&__profile {
		background-size: 120%;
		background-position: center center;
		background-image: url(/static/img/profile--mini.jpg);

		border: 2px solid white;
		box-sizing: border-box;
		box-shadow: 0px 0px 12px white;
	}
}

html .menu {
	color: var(--primary-color-light);
	z-index: 20;

	@include response($tablet) {
		display: none;
	}

	&--mobile {
		display: none;

		@include response($tablet) {
			display: block;
			position: fixed;
			z-index: 90;
			top: unset;
			left: unset;
			right: space(4);
			bottom: space(6);
			display: flex;
			justify-content: center;

			background-color: var(--primary-color);
			color: white;
			box-shadow: 0px 0px space(4) var(--primary-color-light), 0px 0px space(1) rgba(255, 255, 255, 0.9);

			&:hover {
				background-color: white;
				color: var(--primary-color);
			}
		}
	}
}