#root .head__title a {
    color: var(--primary-color-dark);
}

.head {
    background-color: white;
    padding: 2.5rem;
    display: flex;
    vertical-align: center;
    justify-content: space-between;

    &__left {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-left: 5rem;
    }

    &__profile {
        background-size: 120%;
        background-position: center center;
        background-image: url(/static/img/profile--mini.jpg);
    }

    &__menu {
        color: var(--primary-color-light);
    }
}
