.wbIconButton {
    font-size: 2rem;
    background-color: white;
    border-radius: $br1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.12, 1.1, 1.0);


    &.hover:hover {
        cursor: pointer;
        color: var(--primary-color);
    }
}

.wbIconButton--small {
    padding: 1.5rem;
}