.pagination {
    display: flex;
    background-color: var(--primary-color-pale);
    padding: space(.5);

    &__li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $br1;
        width: 2rem;
        height: 2rem;
        text-decoration: none;

        &--selected {
            background-color: white;
            color: var(--primary-color);
        }
    }
}