.article-detail {
  max-width: 800px;
  padding: space(5);
  padding-top: space(1);
  margin: space(5) auto;
  margin-top: 0;
}

.article-detail__article {
  margin-bottom: space(20);
}

.comment__title {
  margin-bottom: space(5);
}

.comment__submit {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
