/* main #6E0FF7; */
/* #E4E1F6; */
/* 1E225E */
/* F2F1F4 */
html {
  color: #1F1F1F;
  font-family: 'Open Sans', sans-serif;
  --primary-color: #6E0FF7;
  --primary-color-dark: #1E225E;
  --primary-color-pale: #E4E1F6;
  --primary-color-light: #BDA5FC;
  --grey-level2: #ACACAC;
  --grey-level0: #FBFBFD;
}

.wbButton {
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: white;
  border: none;
  padding: 1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
