/* main #6E0FF7; */
/* #E4E1F6; */
/* 1E225E */
/* F2F1F4 */
html {
  color: #1F1F1F;
  font-family: 'Open Sans', sans-serif;
  --primary-color: #6E0FF7;
  --primary-color-dark: #1E225E;
  --primary-color-pale: #E4E1F6;
  --primary-color-light: #BDA5FC;
  --grey-level2: #ACACAC;
  --grey-level0: #FBFBFD;
}

body {
  font-weight: 300;
  line-height: 24pt;
  color: #323240;
  line-height: 24pt;
  font-family: proxima-nova, "Proxima Nova", sans-serif;
}

html {
  font-size: 1rem;
}

@media only screen and (max-width: 1200px) and (min-width: 0px) {
  html {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 0px) {
  html {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 0px) {
  html {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 0px) {
  html {
    font-size: 0.9rem;
  }
}

h1,
h2,
h3 {
  color: var(--primary-color-dark);
}

code {
  font-size: 0.8rem;
}
