/* main #6E0FF7; */
/* #E4E1F6; */
/* 1E225E */
/* F2F1F4 */
@import url("https://www.fontify.me/wf/b4bf8aa85a7e35fd018945b766e8bc6d");
html {
  color: #1F1F1F;
  --primary-color: #6E0FF7;
  --primary-color-dark: #1E225E;
  --primary-color-pale: #E4E1F6;
  --primary-color-light: #BDA5FC;
  --grey-level2: #ACACAC;
  --grey-level1: #ACACAC;
  --grey-level0: #FBFBFD;
}

body {
  font-weight: 300;
  line-height: 1.98rem;
  color: #323240;
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  background-color: var(--primary-color-pale);
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-size: 1.0rem;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: font93040;
  line-height: unset;
  font-weight: 900;
}

@media only screen and (max-width: 1200px) and (min-width: 0px) {
  html {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 750px) and (min-width: 0px) {
  html {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 550px) and (min-width: 0px) {
  html {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) and (min-width: 0px) {
  html {
    font-size: 0.7rem;
  }
}

h1,
h2,
h3 {
  color: var(--primary-color-dark);
}

code {
  font-size: 0.8rem;
}

svg.wbIcon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin: 0;
}

.wrap {
  padding-top: 2.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  background-color: white;
  border-radius: 2.2rem / 1.8rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
