/* main #6E0FF7; */
/* #E4E1F6; */
/* 1E225E */
/* F2F1F4 */
html {
  color: #1F1F1F;
  --primary-color: #6E0FF7;
  --primary-color-dark: #1E225E;
  --primary-color-pale: #E4E1F6;
  --primary-color-light: #BDA5FC;
  --grey-level2: #ACACAC;
  --grey-level0: #FBFBFD;
}
